.Rhistory
.RData
.RDataTmp
.Ruserdata
~$*
*.zip
*.html
*.pptx
*.pdf
*.docx
.Rproj.user/
SS/
*.xlsx
*.rds
*_cache/
*_files/
output/
*.pdf
*.pptx
*.zip
*.log
*.tex
Wil.csv
Willing.csv
WIllington.Rmd
AusData_cleaned_radiocarbon_dates.csv
AusData_model_input.csv
rcarbon.28.7.26 WIllington.Rmd
WIllington.Rmd
AUS.csv
